<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="./img/gambar.jpg" alt="gambar" class="img-thumbnail rounded-circle" width="201px">
            <h1 class="display-4">
                ラヴィ アズラ プトラ
            </h1>
            <p class="le">
                Mahasiswa yang semoga bisa jadi backend developper
            </p>
        </div>
    </div>
</div>

